
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Poppins:wght@500&family=Satisfy&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
   
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black, #3a4452);


}
.calculator{
    border: 1px solid #717344;
    padding: 20px ;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
.title{
    color: #fb7c14;
    font-size: 20px;
    box-sizing: border-box;
    
    background-color: transparent;
    border: #eceae8;

}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 5px;
    background: transparent;
    box-shadow: 0px 3px 15px 0.1;
    font-size: 45px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1 );
    cursor: pointer;


}
.mmm{
    background-color: #fb7c14;
}
.oparetor{
    color: #fb7c14;
}

